@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: all .2s;
	font-family: roboto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1% 2.5%;
	border-bottom: 1px solid #0c0c0c20;
}

nav a {
	font-size: 20px;
}

nav .name {
	display: flex;
	align-items: center;
	font-size: 36px;
}

nav div {
	display: flex;
	gap: 24px;
}

nav div a {
	padding: 7.5px;
	border-radius: 10px;
	align-content: center;
}

.rblink {
	font-style: italic;
	font-weight: 900;
}

header {
	padding: 2.5%;
	width: 85%;
	margin: 25px auto;
	border-radius: 10px;
}