:root {
	--w: #fefefe;
	--b: #0c0c0c;
	--rojo: #ff2525;
	--azul: #2f44ff;
	--celeste: #53eaff;
	--azulfondo: #0c1247;
	--rojop: #ffb0b0;
	--gris: #606060;
	--celeste2: #6cc6f2;
	--azulbb: #6184e2;
}

* {
	color: var(--b);
}

body {
	background-color: var(--w);
}

nav {
	background-color: var(--azulfondo);
}

nav a {
	color: var(--w);
}

nav #name .material-symbols-outlined {
	color: var(--celeste);
}

.r {
	color: var(--celeste);
}

.b {
	color: var(--azul);
}

.link {
	color: var(--rojo);
}

nav div a {
	border: 1px solid;
}

nav div a:hover {
	border: 1px solid;
	background-color: var(--azul);
	color: var(--w);
}