@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--w: #fefefe;
	--b: #0c0c0c;
	--rojo: #ff2525;
	--azul: #2f44ff;
	--celeste: #53eaff;
	--azulfondo: #0c1247;
	--rojop: #ffb0b0;
	--gris: #606060;
	--celeste2: #6cc6f2;
	--azulbb: #6184e2;
}

body {
    background-image: url("img/fondo6767.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: all .2s;
	font-family: roboto;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1% 2.5%;
	border-bottom: 1px solid #0c0c0c20;
}

nav a {
	font-size: 20px;
}

nav .name {
	display: flex;
	align-items: center;
	font-size: 36px;
}

nav div {
	display: flex;
	gap: 24px;
}

nav div a {
	padding: 7.5px;
	border-radius: 10px;
	align-content: center;
}

.rblink {
	font-style: italic;
	font-weight: 900;
}


.container{
    background-color: var(--w);
    width: 40rem;
    height: 40rem;
    border-radius: 20px;
    margin:auto;
    margin-top: 5rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.correo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0 ;
}

.texcorreo{
    width: 300px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #dfdfdf;
    color: var(--b);
}

.texcorreo::placeholder{
    color: var(--b);
}

.texcontraseña::placeholder{
    color: var(--b);
}

.contraseña{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.texcontraseña{
    width: 300px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #dfdfdf;
    color: var(--w);
}

.btniniciar{
    width: 315px;
    height: 40px;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--azulfondo);
    color: var(--w);
    cursor: pointer;
    margin-top: 3rem;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}


.registro{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}


h1{
    color: var(--azul);
}

p{
    color: var(--negro);
}

a{
    color: var(--azul);
}