<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>RBLink — La web definitiva</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=chat_info" />
		<link rel="stylesheet" href="../css/colorset.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav>
			<a href="" class="name"><span class="rblink"><span class="r">R</span><span class="b">B</span><span class="link">Link</span></span></a>
			<div>
				<a href="#">Inicio</a>
				<a href="login.html">Iniciar Sesión</a>
				<a href="#">Registrarse</a>
			</div>
		</nav>
		<header>
			<h1 class="name"><span class="rblink"><span class="r">R</span><span class="b">B</span><span class="link">Link</span></span>
			</h1>
			<h4 class="name"><span class="rblink"><span class="r">R</span><span class="b">B</span><span class="link">Link</span></span>
			</h4>
			<h1>Ayúdanos a mejorar <span>nuestro colegio</span></h1>
		</header>
		<footer>RBLink 2026&copy; — Todos los derechos reservados</footer>
	</body>
</html>