<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RBLink | Perfil</title>
  <link rel="stylesheet" href="../colorset.css">
  <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
    <nav>
        <a href="" class="name"><span class="rblink"><span class="r">R</span><span class="b">B</span><span class="link">Link</span></span></a>
        <div>
            <a href="#">Inicio</a>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="titulo">
                <img class="foto-perfil" src="../img\Cristian.jpg" alt="">
            </div>
            <div class="info-estudiante">
                <p>Nombre</p>
                <br>
                <p></p>Run</p>
                <br>
                <p>Email</p>
                <br>
                
            </div>
        </div>
    </section>
    <script src="../js/login.js"></script>
</body>
</html>